main {
    width: 95%;
    margin: 0 auto;
}


html, body {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #404040;
}

h1 {
    font-size: 300%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px)
{

    .column {
        width: 30%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }
}
body{
    background-color: #ff0000;
}

@media screen and (min-width:720px ) {
    body {
        background-color: #0000ff;
    }
}
@media screen and (min-width:1080px ) {
    body {
        background-color: #008000;
    }
}
